html {
  font-family: Raleway, sans-serif;
  background-image: url("../images/candy-bg.svg");
  background-color: #f9b4da;
  background-repeat: repeat;
  background-size: 48px auto;
}

main {
  text-align: center;
}

body {
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  display: inline-block;
}

h1 {
  color: #d15a90;
}

a {
  color: #d15a90;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #fff;
}

nav {
  list-style-type: none;
  text-align: center;
}

li:hover {
  background-color: #e298bd;
  color: #fff;
  border-radius: 5px;
}

.line {
  border-bottom: 1px solid #d15a90;
}

.img-flex {
  width: 100%;
}

.banner {
  max-height: 24em;
  overflow: hidden;
}

.footer {
  background-color: #ffeef8;
  border-bottom: 3px solid #f9b4da;
  border-top: 3px solid #f9b4da;
}

.search-btn {
  background-color: #d15a90;
  border-color: #d15a90;
}

.search-input {
  border-color: #d15a90;
  background-image: url("../images/spy-glass.svg");
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 1.2em auto;
  padding-left: 1.5em;
}

.staff {
  max-width: 100%;
  display: block;
}

.gallery {
  max-width: 100%;
  display: block;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
   }

  nav {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .search-label {
    text-align: right;
  }

}
